.containerMain {
    width: 100%;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.containerLogin {
    width: 500px;
    height: 500px;
    border: solid 1px red;

    display: flex;
    justify-content: center;
    align-items: center;
}

#idFormLogin{
    width: 300px;
    height: 300px;
    border: solid 1px black;
}