.containerMain{
    width: 100%;
    height: 90vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap:20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap:15px;
}