.containerHeader {
    width: 100%;
    height: 7vh;

    background-color: cadetblue;

    display: flex;
    justify-content: center;
    align-items: center;
}

.containerNav {
    width: 600px;
    height: 5vh;
    padding: 5px;

    border: solid 1px gray;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.linkNav {
    color: black;
    text-decoration: none;
}